<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>1_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.kh.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>second</filter-name>
    <filter-class>com.kh.filter.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>second</filter-name>
    <url-pattern>/filter</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>view</filter-name>
    <filter-class>com.kh.filter.ViewResolver</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>view</filter-name>
    <url-pattern>/filter</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.kh.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>listenerServlet</servlet-name>
    <servlet-class>com.kh.controller.J_ListenerServlet</servlet-class>
    <init-param>
      <param-name>className</param-name>
      <param-value>pclass</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>listenerServlet</servlet-name>
    <url-pattern>/usercount</url-pattern>
  </servlet-mapping>
</web-app>